.Rproj.user
.Rhistory
.RData
.Ruserdata


#data folder and contents
data/


#ouput folder and contents
output/

#sh_files


#htmls
*.html

#quarto libs
#*_files/ #this was not letting me back up the sh_files/ folder. but may want to turn back on when running .qmd files

*.Rproj



